*{
    margin:0;       
    padding:0;
}

html, body {
    height: 100%;
}



body {              /*setting up grid rows, used for all pages except review page*/
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    background-color:rgb(39, 39, 39);
    font-family: "Noto Sans", serif;
     

}

/**Navbar style**/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.378);
    padding:20px;
    
   

}

nav a.current,
nav > ul > li > a:has(+ ul a.current) {
	color: white;
	font-weight: bold;
}



.logo {
    width: 200px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right:30px 

}

nav li a {
    
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-size: 18px;
    

}

nav li a:hover {
    color: white;
}

/**Footer Style**/

footer {
    background-color: rgba(0, 0, 0, 0.378);
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 8px;
}

footer p {
    color: white;
    text-align: center;
    font-size: 8px;
}


/**Container Style**/
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /*adding grid coloumn*/
    justify-content: space-evenly;
    padding: 20px;
    gap: 30px;
    

}

.container div{
    background-color:rgba(0, 0, 0, 0.378);;
    display: grid;
    padding: 20px;;
    place-items: center;
    border-radius: 5px;
    
    
}

/**text styling**/
h2 {   
    color: red;
    font-size: 30px;
    padding-bottom: 10px; 
    text-align: center;
    width:100%
}

h3 {
    color: white;
    font-size: 20px;
    text-align: center;
    width: 75%;
}

p {
    color: white;
    font-size: 18px;
    text-align: left;
    width: 100%;
    
}

.container ul {
    width:50%;
    
}

.container ul li {
    color: white;
    font-size: 15px;
    padding-bottom: 10px;
    text-align: left;
    
    
}


/**index page image**/
.singer-ad img {
    width: 500px;
    height: auto;
}


/**index button**/
.learn-more-btn{
    background-color: red;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    margin: 20px;
    font-family:"Noto Sans", sans-serif; 
     
}



.learn-more-btn:hover{   /*buttom turns black on hover, used for all buttons on site*/
    background-color: black;
}

/**Our machine page images**/

.product-img img {
    width: 500px;
    height: auto;
    padding: 10px;
}

/**manual**/

.manual{
    background-color: rgba(0, 0, 0, 0.378);
    height: 500px;
    padding: 20px;
    
}



.manual iframe {  /*adding 100% width and height to iframe fits to container*/
    width: 100%;
    height: 100%;
      
}



/**Review styling**/

.review {   /**Using flex for review page to make it easier since i want 1 column**/
    display:flex ;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.378);
    width: 75%;
    margin: 40px auto;
    padding:40px;
    border-radius: 5px;
}

.review-stars {
    display: flex;
    gap: 10px;
    padding:20px;
}

.star {
    font-size: 20px;
    color: white;
    
    
    
}

.star:hover {   /**Star turns red when hovering over**/            
    transform: scale(1.2);
    color: red;
}

.star.one,          /**starts turn red when when selecting star rating**/
.star.two,
.star.three,
.star.four,
.star.five {
    color: red;
}

/**comment box styling**/
.comment {
    width:75%;
    height:100px;
    padding:20px;
    background-color:rgb(39, 39, 39);
    border-radius: 5px;
    color:white;
    border-color: red;
}

/**review submission button**/
.review-btn{
    background-color: red;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    margin: 20px;
    font-family:"Noto Sans", sans-serif; 
     
}



.review-btn:hover{
    background-color: black;
}


/**Contact page style**/

.singer-building img {
    width: 400px;
    padding:10px;

}

.singer-building p {
    font-size: 12px;
    text-align: center;
}

.contact {
    padding: 5px;
}


.contact-form {
    padding: 10px;
    width: 75%;
    
    
   
}



.contact-form label {
    color: white;
    font-family: "Noto Sans", serif;
    margin-bottom: 10px;
    
}

.contact-form input, .contact-form textarea {
    width: 100%;
    background-color: rgb(39, 39, 39);
    border: 1px solid red;
    border-radius: 5px;
    padding:10px;
    margin-bottom: 20px;
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
}

/**contact page submit button**/
.submit {
    background-color: red;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    display: block;
    
}


.submit:hover {
    background-color: black;
}

/**about page styling**/

.about p {
    padding: 10px;
    width: 80%;
}

.founder p {
    text-align: center;
    font-size:12px;
}













