*{
    margin:0;       /**removes default spacing **/
    padding:0;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color:rgb(39, 39, 39);
    font-family: "Noto Sans", serif;
     

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.378);
    padding:20px;
    
   
    
    

}



.logo {
    width: 200px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right:30px 

}

nav li a {
    /**margin-left:20px;**/
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-size: 18px;
    

}

nav li a:hover {
    color: white;
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    padding: 20px;
    gap: 30px;

}

.home-col-1, .home-col-2 {
    background-color:rgba(0, 0, 0, 0.378);;
    display: grid;
    padding:20px;
    place-items: center;
    text-align: center;
    
}






.home-col-1 h2 {   
    color: red;
    font-size: 30px;
    padding:10px;   
}

.home-col-1 h3 {
    color: white;
    font-size: 30px;
    padding: 10px;
}



.home-col-2 img {
    width: 600px;
    height: auto;
}

.learn-more-btn{
    background-color: red;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    margin: 20px;
    font-family:"Noto Sans", sans-serif; 
     
}

.learn-more-btn:hover{
    background-color: black;
}

footer{
    background-color: rgba(0, 0, 0, 0.378);
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 8px;
}












