*{
    margin:0;       /**removes default spacing **/
    padding:0;
}

body {
    background-color:rgb(19, 19, 19);

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color:rgb(19, 19, 19);
    position: sticky;
    padding:10px;
    margin:20px;
   
    
    

}



.logo {
    width: 200px; 
    display: block; 
    

    
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-right:30px;
    
   

}

li a {
    margin-left:20px;
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

ul li a:hover {
    color: antiquewhite;
}

.home {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    margin: 10px;

   
    

}

.home div {
    background-color: rgba(255, 255, 255, 0.041);
    text-align: center;
    padding:50px
}





.home div h2 {
    
   
    color: antiquewhite;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
    
}











