* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: white;
}
.navbar {  
    display: grid;
    grid-template-columns: 1fr auto; 
    grid-template-rows: auto;
    position:sticky;
    background-color: rgba(0, 0, 0, 0.448);
    border-radius: 5px;
    top: 0;
    
}

.logo {
    margin: 20px;
    grid-row: 1;
    grid-column: 1;
    width: 200px;
    
}

.nav-links {
    margin: 20px;
    grid-row: 1;
    grid-column: 2;
    align-self: flex-end;
    
}

.nav-links a {      
    text-decoration: none;
    color: red;
    margin-left: 20px;
    font-size: 18px;
    font-family: copperplate gothic light;
    
    
}



