*{
    margin:0;       /**removes default spacing **/
    padding:0;
}

body {
    background-color:rgb(39, 39, 39);
     

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.378);
    position: sticky;
    padding:20px;
    
   
    
    

}



.logo {
    width: 200px; 
    display: block; 
    

    
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-right:30px;
    border: 1px;

    
   

}

li a {
    margin-left:20px;
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;

}

ul li a:hover {
    color: white;
}

.home {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    padding: 10px;
    gap: 30px;
    margin: 10px;

   
    

}

.home div {
    background-color:rgba(0, 0, 0, 0.378);;
    padding:20px;
    place-content: center;
    place-items: center;
    
}





.home div h2 {
    
   
    color: red;
    font-size: 30px;
    font-family:"Noto Sans", sans-serif;
    padding:10px;
    
}

.home div h3 {
    color: white;
    font-size: 20px;
    font-family:"Noto Sans", sans-serif; 
    padding: 10px;
}



.home div img {
    width: 600px;
    height: auto;
}

.learn-more-btn{
    background-color: red;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    margin: 20px;
    font-family:"Noto Sans", sans-serif; 
    
  
}

.learn-more-btn:hover{
    background-color: black;
}

footer{
    background-color: rgba(0, 0, 0, 0.378);
    color: white;
    
}












