*{
    margin:0;       /**removes default spacing **/
    padding:0;
}

html, body {
    height: 100%;
}



body {
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    background-color:rgb(39, 39, 39);
    font-family: "Noto Sans", serif;
     

}

/**Navbar style**/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.378);
    padding:20px;
    
   

}



.logo {
    width: 200px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right:30px 

}

nav li a {
    
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-size: 18px;
    

}

nav li a:hover {
    color: white;
}

/**Footer Style**/
footer{
    background-color: rgba(0, 0, 0, 0.378);
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 8px;
}



.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    padding: 20px;
    gap: 30px;
    

}

.container div{
    background-color:rgba(0, 0, 0, 0.378);;
    display: grid;
    padding: 20px;;
    place-items: center;
    
    
}


h2 {   
    color: red;
    font-size: 30px;
    padding-bottom: 10px; 
    text-align: center;
    width:100%
}

h3 {
    color: white;
    font-size: 20px;
    text-align: center;
    width: 75%;
}

p {
    color: white;
    font-size: 18px;
    text-align: left;
    width: 100%;
}

.container ul {
    width:50%;
    
}

.container ul li {
    color: white;
    font-size: 15px;
    padding-bottom: 10px;
    text-align: left;
    
    
}



.singer-ad img {
    width: 500px;
    height: auto;
}

.learn-more-btn{
    background-color: red;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    margin: 20px;
    font-family:"Noto Sans", sans-serif; 
     
}



.learn-more-btn:hover{
    background-color: black;
}



.manual{
    background-color: rgba(0, 0, 0, 0.378);
    height: 500px;
    padding: 20px;
    
}

.manual iframe {
    width: 100%;
    height: 100%;
      
}














